@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
html{scroll-behavior: smooth;}
body {font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}

#project, #design ,#imweb_area, #blog_area{
  scroll-margin-top: 100px; /* 원하는 만큼 여백 (예: 100px) */
}
.Qbtn {
  display: grid;
  position: fixed;
  bottom: 100px; right: 50px;
  z-index: 1000;
  text-align: center;
  gap: 5px;
}
.Qbtn a {
  position: relative; 
  background: #ffc8b1;
  width: 60px; height: 60px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}         
.Qbtn a button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  background: none;
  border: none;
  font-family: 'Paperlogy-8ExtraBold';
  color: #fff;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  white-space: nowrap;
}
.Qbtn .pp_bt {
  margin-bottom: 40px;
  background: transparent;
  position: relative;
  display: inline-block;
  box-shadow: none;
}

.Qbtn .pp_bt button img {
  width: 110px;
}

/* 이력서 텍스트 */
.Qbtn .pp_bt::after {
  content: "이력서 & 자기소개서";
  position: absolute;
  bottom: 150%;
  left: 30%;
  transform: translateX(-50%) translateY(10px);

  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;

  opacity: 0;
  transition: all 0.3s ease;
}

/* hover 시 등장 */
.Qbtn .pp_bt:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

#main {
  position: relative;
  width: 100%; height: 100vh;
  background: url(../img/main.png)no-repeat left center / cover;
}
#main .info {
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .info .intro {width: 50%; text-align: center;}
@keyframes fadeUpLetter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#main .info .intro .name {
  display: flex;
  justify-content: center;
  font-size: 150px;
  font-family: "Pinyon Script", cursive;
  /* font-family: 'Paperlogy-8ExtraBold'; */
  letter-spacing: 8px;
  text-shadow: 2px 2px 6px rgba(255, 160, 150, 0.25);
}
.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeUpLetter 3s ease-out infinite;
}
.delay-1  { animation-delay: 0.05s; color: #c5564a;}
.delay-2  { animation-delay: 0.1s; color: #c5564a;}
.delay-3  { animation-delay: 0.15s; color: #c5564a;}
.delay-4  { animation-delay: 0.2s; color: #c5564a;}
.delay-5  { animation-delay: 0.25s; color: #c5564a;}
.delay-6  { animation-delay: 0.3s; }
.delay-7  { animation-delay: 0.35s; }
.delay-8  { animation-delay: 0.4s; }
.delay-9  { animation-delay: 0.45s; }
.delay-10 { animation-delay: 0.5s; }
.delay-11 { animation-delay: 0.55s; }
.delay-12 { animation-delay: 0.6s; }
.delay-13 { animation-delay: 0.65s; }
.delay-14 { animation-delay: 0.7s; }

#main .info .intro .major {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  color: #666;
  font-size: 20px;
}

/* about me */
#about {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .icon {
  width: 70%;
  margin: 100px auto 0;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}
#about .icon ul {
  display: flex;
  gap: 5px;
  width: max-content;
  animation: scrollLeft 40s linear infinite;
}
#about .icon ul li {
  flex: none;
  margin-right: 30px;
  list-style: none;
}
#about .icon ul li img {width: 70px;}
#about .icon ul .js img {width: 60px;}
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

#about .about_tit {
  font-size: 30px;
  color: #444;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}
#about .about_tit strong {color: #c5564a;}
#about .me {
  width: 1000px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding:60px 100px;
  border-radius: 30px;
  background-color: #FFF7F3;
}
#about .me .show {
  width: 380px;
  height: 300px;
  background: url(../img/photo2.png) no-repeat left center / contain;
  flex-shrink: 0;
}
#about .me .txt {
  /* width: 500px; */
  line-height: 1.5;
  font-size: 20px;
}
#about .me .txt strong {
  font-size: 22px;
  color: #c5564a;
}


/* imweb_area */
.imweb_area {margin-bottom: 300px;}
.tit{
  display: block;
  font-size: 50px;font-weight: 600; 
  margin-bottom: 100px; text-align: center;
}
.tit img {width: 280px; margin-right: 30px; vertical-align: bottom;}
.imweb_area .imweb_flex{
  width: 80%; margin: auto;
  display: flex; gap: 50px;
}
.imweb_area .imweb {width: 50%; transition: transform 0.3s ease;}
.imweb_area .imweb.active:hover {
  transform: translateY(-20px);
}
.imweb_area .imweb ul {
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background:#fff;
  overflow: hidden;
  padding: 50px;
}
.imweb_area .imweb ul li {text-align: center;}
.imweb_area .imweb ul li .img_scroll {
  height: 430px;          /* 원하는 높이 */
  overflow-y: auto;

   /* 스크롤바 숨기기 */
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Chrome, Safari */
.imweb_area .imweb ul li .img_scroll::-webkit-scrollbar {
  display: none;
}

.imweb_area .imweb ul li div > img {
  width: 100%;
  background: #fff;
  cursor: pointer;
}
.imweb_area .imweb ul li .box {
  text-align: left; letter-spacing:0.5px;
  padding: 50px 20px;
  padding-bottom: 20px;
}
.imweb_area .imweb ul li .box .dsc {
  font-size: 20px; line-height: 1.4; font-weight: 400; margin-top: 15px; 
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* clone_area */
.clone_area {width: 80%; margin: auto; margin-bottom: 300px;}
.clone_area .clone ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.clone_area .clone ul li {
  width: calc((100% - 80px) / 3);
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  cursor: pointer;
}

.clone_area .clone ul li img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

/* 슬라이딩되는 box */
.clone_area .clone ul li .box {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  transition: bottom 0.4s ease;
  gap: 10px;
}

.clone_area .clone ul li:hover .box {
  bottom: 0;
}

/* 텍스트 스타일 */
.clone_area .clone ul li .box{color: #333;}
.clone_area .clone ul li .box .clone_tit {font-size: 36px; font-weight: bold;}
.clone_area .clone ul li .box .sub_tit {font-size: 20px; margin-bottom: 10px;}


/* 버튼 스타일 */
.clone_area .clone ul li .box button {
  background: transparent;
  color: #000;
  border: 1px solid #888;
  padding: 14px 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.clone_area .clone ul li .box button:hover {
  background: #ffc8b1; /* 원하는 포인트 컬러 */
  border: 1px solid #ffc8b1;
  color: #000;
}

.clone_area .clone ul li .box button a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: inherit;
}

.clone_area .clone ul li .box button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}



/* blog_area */
/* #design {margin:300px auto;} */
.click {display: block; margin: 10px 0 35px; color:#444;}
.blog_area {width: 80%; margin:0px auto; margin-bottom: 300px;}
.blog_area .blog ul {
  display: flex; gap: 30px;
  flex-wrap: wrap;
}
.blog_area .blog .swiper .swiper-wrapper .swiper-slide img {
  width: 1000px; height: 450px; object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-top:1px solid #eeeeee ;
}
.blog_area .blog .swiper .swiper-wrapper .swiper-slide {
    width: 1000px;
    background-position: center;
    background-size: cover;
}
.pagination{
  margin-top: 20px;
  text-align: center;
}
.pagination .swiper-pagination-bullet{
  background: #444;
  border-radius: 0;
  width: 100px; height: 2px;
}



/* 모달 배경 */
.modal {
  display: none; /* 기본 숨김 */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

/* 모달에 표시되는 이미지 */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  /* max-height: 90vh;  */
}

/* 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.close:hover {color: #bbb;}


/* PDP_area */
.PDP_area {width: 80%; margin:0px auto; margin-bottom: 300px;}
.PDP_area .PDP {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex; justify-content: center;
  border-radius: 200px;
}
.PDP_area .PDP ul {
  display: flex; gap: 30px; padding: 80px 50px; text-align: center;
  align-items: center; justify-content: space-between;
}
.PDP_area .PDP ul .dsc h2 {
  font-size: 42px;
  color: #c5564a; letter-spacing: 1px;
}
.PDP_area .PDP ul .dsc p {
  margin-top: 20px; color: #555; font-size: 14px;
}
.PDP_area .PDP ul .dsc p .dsc_m {display: none;}
.PDP_area .PDP ul li {
  text-align: center;
  
}
.PDP_area .PDP ul li .img_box {
  width: 150px;height: 150px; background: #fff7f3;
  border-radius: 500px;
  display: flex;
  justify-content: center;   /* 가로 가운데 */
  align-items: center;       /* 세로 가운데 */
  transition: transform 0.3s ease;
}
.PDP_area .PDP ul li .img_box:hover{transform: scale(1.09);}
.PDP_area .PDP ul li a img {
  width: 120px;
}
.PDP_area .PDP ul li .box {text-align: left; letter-spacing:0.5px; text-align: center;}
.PDP_area .PDP ul li .box .lit {font-size:18px; margin-top: 30px; font-weight:600; color: #c5564a;}




/* banner */
.ballet_area {width: 80%;margin: auto;} 
.ballet-section {
  margin-bottom: 300px;
  padding: 80px 0px;
  position: relative;
  background-color: #fff7f3;
  display: flex;
  justify-content: center;
}
.ballet-wrapper {
  max-width: 80%;
  display: grid;
  align-items: center;
}
.ballet-image img {
  width: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.ballet-image .bn_m {display: none;}
.ballet-description {
  width: 400px;
  position: absolute;
  right:10%; bottom: 10%;
  background: rgba(255, 255, 255, 0.8); padding: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-top: 50px;
}
.ballet-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}
.ballet-description p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .ballet-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .ballet-description {
    margin-top: 20px;
  }
}



/* active */
#about .about_tit,
#about .me, #about .icon,
.imweb_area .tit,
.imweb_area .imweb,
.clone_area .tit,
.clone_area .clone li,
.blog_area .tit,
.blog_area .blog,
.ballet_area .tit,
.ballet-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

#about .about_tit.active,
#about .me.active, #about .icon.active,
.imweb_area .tit.active,
.imweb_area .imweb.active,
.clone_area .tit.active,
.clone_area .clone li.active,
.blog_area .tit.active,
.blog_area .blog.active,
.ballet_area .tit.active,
.ballet-section.active {
  opacity: 1;
  transform: translateY(0);
}




/* footer */
footer{
  background: #FFF7F3; text-align: center; 
  padding: 40px 0 !important;
  color: #444;
  font-weight: 400;
}
footer p:last-child {margin-top: 10px;}











/* Laptop */
@media (min-width: 1024px) and (max-width: 1536px){
  #main {background-position: center;}
  #main .info .intro .name {font-size: 90px;}
  #main .info .intro .icon ul li img {width: 60px;}
  #main .info .intro .icon ul li {margin-right: 15px;}
  #main .info .intro .major {font-size: 16px; margin-top: 50px;}
  #main .info .intro .icon ul .js img {width: 50px;}

  #about .me {width: 90%; padding: 60px 50px; justify-content: center;}
  #about .about_tit {font-size: 26px; margin-bottom: 70px;}
  #about .me .show {width: 300px; height: 300px;}
  #about .icon {width: 100%; margin: 70px auto 0;}
  #about .icon ul li {margin-right: 20px;}
  #about .icon ul li img {width: 60px;}
  #about .icon ul .js img {width: 50px;}
  #about .me .txt {font-size: 18px;}
  #about .me .txt strong {font-size: 20px;}

  .tit {font-size: 40px; margin-bottom: 80px;}
  .tit img {width:220px ;}

  .imweb_area .imweb ul {padding: 30px;}
  .imweb_area .imweb ul li .box {padding: 30px 0;}
  .imweb_area .imweb ul li .box .dsc { font-size: 18px;}
  .imweb_area .imweb ul li div > img {width: 100%;}
  .imweb_area .imweb ul li .img_scroll {height: 320px;}
  .imweb_area .imweb_flex {gap: 20px;}

  .clone_area .clone ul li .box button { padding: 10px 20px; font-size: 16px;}

  .ballet-image img {width: 100%;}
  .ballet-description {right: 5%; bottom: 3%; padding: 40px;}
  .ballet-description h2 {font-size: 20px;}
  

  .PDP_area .PDP {flex-direction: column; padding: 70px 0; border-radius: 50px;}
  .PDP_area .PDP ul {padding:10px; justify-content: center;}
  .PDP_area .PDP ul .dsc p {margin-bottom: 50px;}
  .PDP_area .PDP ul li .img_box {
    width: 130px;
    height: 130px;}
  .PDP_area .PDP ul li a img {width: 100px;}
}

/* 태블릿, 모바일 */
@media (max-width: 1023px) {
  .Qbtn {display: none;}

  #main {width: 100%; height: 100%; background: url(../img/main.png) no-repeat center / cover;}
  #main .info .intro {width: 90%;}
  #main .info .intro .name {font-size: 54px; letter-spacing: 4px;}
  #main .info .intro .major {font-size: 13px; padding-top: 30px; margin: 0;} 

  #about .about_tit,
  #about .me, #about .icon,
  .imweb_area .tit,
  .imweb_area .imweb,
  .clone_area .tit,
  .clone_area .clone li,
  .blog_area .tit,
  .blog_area .blog,
  .ballet_area .tit,
  .ballet-section {
    opacity:1; transform:none;
  }

  #about { width: 100%; margin: 100px 0 120px;height: auto;}
  #about .about_tit {font-size: 20px; width: 85%; line-height: 1.5;margin-bottom: 30px;}
  #about .me {width: 90%; flex-direction: column; padding:50px 0; gap: 10px;}
  #about p {font-size: 18px;}
  #about .me .show {
    width: 200px;
    aspect-ratio: 5 / 5;
    height: auto;
    background: url(../img/photo2_m.png) no-repeat left center / contain;}
  #about .me .txt {font-size: 16px; width: 80%; margin-top: 30px; text-align: left; line-height: 1.8;}
  #about .icon {width: 90%; margin: 30px auto 0;}
  #about .icon ul li {margin-right: 10px;}
  #about .icon ul li img {width: 40px;}
  #about .icon ul .js img {width: 30px;}

  .tit img {width: 150px; margin-right: 10px;}
  .tit {font-size: 30px; margin-bottom: 30px;}

  .imweb_area {margin-bottom: 100px; width: 90%; margin: auto; margin-bottom: 100px;}
  .imweb_area .imweb {width: 100%;}
  .imweb_area .imweb_flex {width: 100%; gap: 20px; flex-direction: column;}
  .imweb_area .imweb ul {padding: 20px; border-radius: 20px;}
  .imweb_area .imweb ul li div > img {width: 100%;}
  .imweb_area .imweb ul li .img_scroll { height: 200px;}
  .imweb_area .imweb ul li .box {padding: 20px 10px;}
  .imweb_area .imweb ul li .box h2 {font-size: 20px;}
  .imweb_area .imweb ul li .box .dsc {font-size: 16px;}

  .clone_area {width: 90%; margin-bottom: 100px;}
  .clone_area .clone ul {flex-direction: column; gap: 30px;}
  .clone_area .clone ul li {width: 100%;}
  .clone_area .clone ul li img {height: 200px;}
  .clone_area .clone ul li .box{bottom: 0; background: rgba(255, 255, 255, 0.9);}
  .clone_area .clone ul li .box .clone_tit {font-size: 26px;}
  .clone_area .clone ul li .box button {padding: 12px 20px;font-size: 14px;}
  
  .blog_area {margin-bottom: 100px; width: 90%;}
  .blog_area .blog .swiper .swiper-wrapper .swiper-slide img
  {max-width: 100%; height: 200px; border:1px solid #eeeeee ;}
  .blog_area .blog .swiper .swiper-wrapper .swiper-slide{width: 500px;}
  .pagination .swiper-pagination-bullet {width: 20px;}
  .pagination {margin-top: 10px;}

  .ballet-section {padding: 30px 0px; margin-bottom: 100px;}
  .ballet-wrapper {max-width: 90%;}
  .ballet-image img {width: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.1);}
  .ballet-image .bn_p {display: none;}
  .ballet-image .bn_m {display: block;}
  .ballet-description {
    width: 100%;
    position:static;
    padding: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    margin-top: 10px;
  }
  .ballet-description h2 {font-size: 18px; padding-top: 25px;}
  .ballet-description p {font-size: 14px; padding: 0 20px 25px;}

  .PDP_area {margin-bottom: 100px; width: 90%;}
  .PDP_area .PDP {display: block; padding: 50px 0 20px; border-radius: 30px;}
  .PDP_area .PDP ul {
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  justify-content: center;
  gap: 0px;
}
  .PDP_area .PDP ul li {width: calc(50% - 10px); margin-bottom: 40px;}
  .PDP_area .PDP ul .dsc h2 {font-size: 28px;}
  .PDP_area .PDP ul .dsc p {margin-bottom: 20px; font-size: 14px; line-height: 1.5;}
  .PDP_area .PDP ul .dsc p .dsc_m{display: block;}
  .PDP_area .PDP ul li .img_box {width: 114px; height: 114px; margin: auto;}
  .PDP_area .PDP ul li a img {width: 100px;}
  .PDP_area .PDP ul li .box .lit {font-size: 16px; margin-top: 26px;}

  footer{font-size: 12px;}
}

  